{% extends 'rango/base.html' %}
{% block title_block %}
  Sign up
{% endblock %}

{% block body_block %}
    

<div class="signup">
  <div class="row">
      <div class="column">
        <a href="{% url 'auth_login' %}"><h2 class="active" style="color: ghostwhite; padding-left: 20px;">Login</h2></a>
          
      </div>

      <div class="column">
          <a href="{% url 'registration_register' %}"><h2 class="active" style="color: ghostwhite; padding-left: 20px;">Sign up</h2></a>
          
      </div>
      <form method="post" action="." >
      <div class="input" "">
        {% csrf_token %}
        <br/>
        {{ form.as_p }}
        <br/>
      </div>
        <input type="submit" value="Register" />
    </form>
    
  </div>  



{% endblock %}