{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  About 
{% endblock %}

{% block body_block %} 
    

        <div class="row">
            <div class="column">
                <h2 style="margin-left: 10px;">About </h2>

                <p style="text-align:justify; padding-left:15px; padding-top:30px;">
                This project has been made by Pythoneers in Action. A team of 4 postgraduate students at University of Glasgow.
                Let's find out some more information about each one:
                Maria has previously studied Mathematics and now is doing 
                a software Development master. She likes cooking and hanging out with friends
                </p>
               <br>
               <h5 style="margin-left: 10px; margin-top: 50px;">Contact Us</h5>
                <ul>
                    <li>Telephone: 07911 123456</li>
                    <li>Address: Road Fratton PORTSMOUTH Hampshire, PO1 1AA, UNITED KINGDOM </li>
                </ul>
                
            </div>

            <div class="column" style="margin-left: 80px;">
                <img src="{% static 'images/about2-02.png' %}" alt="Illustration of people" /> 
                
               
            </div>
          
        </div>       
{% endblock %}