{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  About 
{% endblock %}

{% block body_block %} 
    

        <div class="row">
            <div class="column">
                <h2 class="About">About </h2>

                <p class="pAbout">
                    Spot is a place where nearby restaurants can be found, reviews can be read and writted and  
                    also see where exactly the restaurant is located using google maps. By making a review, other people 
                    are helped to choose the right place to eat, they can also see what is best on each place. All jou have 
                    to do is just choose the restaurant of your prefference, find its location on its page, visit and then come 
                    back to review and leave your comment. Our community is a safe place where everyone would is able to express 
                    his opinion without any judgement, but please be polite and respect each other opinion. 
                </p>
               <br>
               <h5 class="contact">Contact Us</h5>
                <ul>
                    <li>Telephone: 07911 123456</li>
                    <li>Email: spot@hotmail.ac.uk</li>
                    <li>Address: Road Fratton PORTSMOUTH Hampshire, PO1 1AA, UNITED KINGDOM </li>
                </ul>
                
            </div>

            <div class="column" >
                <img src="{% static 'images/about2-02.png' %}" alt="Illustration of people" class="imgAbout"/> 
                
               
            </div>
          
        </div>       
{% endblock %}