{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Browse page
{% endblock %}

<!-- Browse page will be the page where the results of the nearby restaurants will appear.
-->
{% block body_block %}
<br/>
<strong><h2>&ensp;Nearby restaurants</h2></strong>
<br/>
{% if restaurants %}
  {% for restaurant in restaurants %}
    <div class="gallery">
      <a target="_blank" href="{% url 'rango:show_restaurant' restaurant.slug %}">
        <img src="/static/images/restaurants/{{restaurant.slug}}.jpg" alt="{{ restaurant.name }}" width="600" height="400">
      </a>
      <div class="resname"><strong>{{ restaurant.name }}</strong></div>
      <div class="desc">{{ restaurant.description }}</div>
      <div class="rev">{{review.rating}}</div>
    </div>
  {% endfor %}
{% endif %}


</div>

{% endblock %}