{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  HomePage
{% endblock %}

{% block body_block %}    

<h1>Spot</h1>
    <div>
    <div class="row">
        <div class="column"> 
                {% if user.is_authenticated %}
                    howdy {{ user.username }}!
                {% else %}
                    Welcome to our community!
                {% endif %}<br/>
                <strong>{{ boldmessage }}</strong><br/>
                <h2>Overview of Spot</h2>
            <p>Spot is a place where nearby restaurants can be found, reviews can be read and writted and also see where exactly the restaurant is located using google maps.
                By making a review, other people are helped to choose the right place to eate, they can also see what is best on each place. Our community will be a safe place where everyone would be able 
                to express his opinion without any judgement, however please be polite and respect each other opinion.
            </p>
        </div>
        <div class="column">
            <img src="{% static 'images/favicon.png' %}"
            alt="Picture of logo" />
        </div>
        <div class="button">
        <a   href="{% url 'rango:about' %}"><button>Learn more</button></a>
         
        <br/>
        </div>
    
    </div>
{% endblock %}