{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  HomePage
{% endblock %}

{% block body_block %}    

    <h1>Spot</h1>
        <div> 
            {% if user.is_authenticated %}
                howdy {{ user.username }}!
            {% else %}
                hey there partner!
            {% endif %}<br/>
            <strong>{{ boldmessage }}</strong><br/>
        
        </div>
        <div>
            <h2>Overview of Spot</h2>
            <p>Spot is a place where nearby restaurants can be found, reviews can be read and writted and also see where exactly the restaurant is located using google maps.</p>
            <img src="{% static 'images/favicon.png' %}"
            alt="Picture of logo" />
            <a href="{% url 'rango:about' %}"><button>Learn more</button></a>
        </div>
        <h2>Most Liked Categories</h2>
       
            
{% endblock %}