{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
HomePage
{% endblock %}

{% block body_block %}    


    <div> 

    <div class="row">
        <div class="column"> 
            <h2>"Nothing brings people<br>
            &ensp;together like good food"</h2>

            <p class="pforpage">
                Spot is a place where nearby restaurants can be found, reviews can be read 
                and writted and also see where exactly the restaurant is located using google
                maps. By making a review, other people are helped to choose the right place to 
                eat, they can also see what is best on each place. Our community is a safe place
                where everyone would is able to express his opinion without any judgement, but
                please be polite and respect each other opinion.
            </p>
            <br>
            <div>
                <a  href="{% url 'rango:about' %}"> <button class="button">Learn more</button></a>
            </div>  

          
        </div>
        <div class="column">
            <img src="{% static 'images/phone-01.png' %}" alt="Illustration of a hand holding a phone" class="imgIndex"/>
        </div>
       
    </div>


{% endblock %}