{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  My Account
{% endblock %}

{% block body_block %} 
    

        <div class="row">
            <div class="column">
                <h2 style="margin-left: 10px;">My Account </h2>

                <!-- <ul>
                    <li>Telephone: 07911 123456</li>
                    <li>Address: Road Fratton PORTSMOUTH Hampshire, PO1 1AA, UNITED KINGDOM </li>
                </ul> -->
                
            </div>

            <div class="column" >
               
                
               
            </div>
          
        </div>       
{% endblock %}