{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  My Account
{% endblock %}

{% block body_block %} 
    

        <div class="row">
            <div class="column">
                <h2 class="taccount">My Account </h2>

                <br>

                <p class="accp">
                    Dear <strong>{{ user.username }} </strong> we are happy to have you in our family of food lovers 
                    and hope to make your food experience easier.

                </p>
            </div>
            </div      
{% endblock %}