{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if restaurant %}
        {{ restaurant.name }}
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if restaurant %}
        <div class="Row">
            <h2>{{ restaurant.name }}</h2>
            <br/>
        </div>
        <div class="row">
            <div class="column">
                <img class="reimg" src="/static/images/restaurants/{{restaurant.slug}}.jpg" alt="{{restaurant.slug}}" width="600", height="400"/>
            </div>
            <div class="column">
                <img class="goimg" src="{{ google_url }}">
            </div>
        </div>
        <br>
        <br>
        <strong><h4>Read Reviews</h4></strong>
        {% if reviews %}
            {% for review in reviews %}

                    <div class="userrev">
                        <strong>{{review.user}}</strong>
                    </div>
                    <div class="revrev">
                        {{review.review}}
                    </div>
                    <div class="revrate">
                        review rate: {{review.rating}}
                    </div>

                    <br>
               
            {% endfor %}
        {% endif %}
        <form class="reviewform" id="add_review_form" method="post" action="/rango/restaurant/{{ restaurant.slug }}">
            {% csrf_token %}
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                <br>
                {{ field.help_text }}
                <br>
                {{ field }}
            {% endfor %}
            <br/>
            <input type="submit" name="submit" value="Add Review" />
        </form>
    {% endif %}
{% endblock %}