.gallery {
    display: grid;
   /* grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;  */
   margin: 15px;
    float: left;
    width: 300px; 
}

.menu {
  align-items: right;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height:100%;
}

.desc {
  padding: 15px;
  text-align: left;
}

 .row {
  display: flex;
} 
 .column {
  flex: 10%; 
 
}

.navbar-nav{
padding-top:30px;
} 

.container-fluid{
 padding: 20px;}

 .main{
   padding-left:60px; 
   padding-top: 160px;}


.About{
 margin-left: 10px;
}

.pAbout{
  text-align:justify; 
  padding-left:15px; 
  padding-top:30px;}

.imgAbout{
  margin-left: 70px;


}
.contact{
  margin-left: 10px; 
  margin-top: 50px;}


.tLogin{
  padding-left: 15px;
  border-bottom: 2px solid #BEBEBE;}


.pforpage{
text-align:justify; 
padding-left:15px; 
padding-top:40px;
}

.login {
  background-color: #333333;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  position:relative;
  height: 400px;
  width: 405px;
  margin: auto;
  padding: 60px 60px;
  background-size: cover;
  box-shadow: 0px 50px 60px -10px #111111;
}

.signup {
  background-color: #333333;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align-last:justify;
  letter-spacing: 1px;
  position:relative;
  height: 670px;
  width: 400px;
  margin: auto;
  padding: 60px 60px;
  background-size: cover;
  box-shadow: 0px 50px 60px -10px #111111;
}
form {
  padding-top: 30px;
}

.active {
  border-bottom: 2px solid #BEBEBE;
  color: ghostwhite; 
  padding-left: 20px;
  
}

.imgIndex{
  margin-left: 140px;

}


.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.text:focus + span {
  opacity: 0.6;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  color: black;
  padding-right: 15%;
}




input {
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  align-self: right;
  
}

.submit{
  padding: 30px;

}


span {
  font-size: 12px;
  opacity: 0.4; 
  display: inline-block;
  position: relative;
}







 
